.neon_title,
.title_link_1,
.title_link_2 {
  color: #d1cece;
  text-shadow: 0 0 5px rgb(0, 255, 204), 0 0 10px rgb(0, 255, 204), 0 0 20px rgb(0, 255, 204), 0 0 40px rgb(0, 255, 204);
}

#neon_span {
  color: rgb(213, 183, 183);
  text-shadow: 0 0 5px brown, 0 0 10px brown, 0 0 15px brown, 0 0 20px brown;
}

.logo_discord,
.logo_twitch {
  transition: 0.5s ease-in-out;
}

button :hover {
  transition: 0.5s;
  transform: scale(1.1);
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #9d0bca, 0 0 30px #9d0bca;
}

.logo_apex,
.logo_mc,
.live-microphone {
  transition: 0.5s;
}

.list :hover {
  transform: scale(1.1);
}

.list_1 :hover {
  transition: 0.5s;
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #9d0bca, 0 0 30px #9d0bca;
}

.list_2 :hover {
  transition: 0.5s;
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #9d0bca, 0 0 30px #9d0bca;
}

.list_3 :hover {
  transition: 0.5s;
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #9d0bca, 0 0 30px #9d0bca;
}
