/*Neon title style*/
.neon_title,
.title_link_1,
.title_link_2 {
  color: rgb(106, 241, 214);
  text-shadow: 0 0 5px rgb(0, 255, 204), 0 0 10px rgb(0, 255, 204), 0 0 20px rgb(0, 255, 204), 0 0 40px rgb(0, 255, 204);
}

#neon_span {
  color: rgb(106, 241, 214);
  text-shadow: 0 0 5px rgb(0, 255, 204), 0 0 10px rgb(0, 255, 204), 0 0 20px rgb(0, 255, 204), 0 0 40px rgb(0, 255, 204);
}

/*Set transition timer and set style transition*/
.logo_discord,
.logo_twitch {
  transition: 0.5s ease-in-out;
}

/*Buttons hover style*/
button :hover {
  transition: 0.5s;
  transform: scale(1.05);
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px rgb(0, 255, 204), 0 0 30px rgb(0, 225, 255);
}

/*Set transition timer */
.logo_apex {
  transition: 0.5s;
}

.logo_mc {
  transition: 0.5s;
}

.live-microphone {
  transition: 0.5s;
}

/*Hover style, transition, transform and box shadows*/
.list :hover {
  transform: scale(1.05);
}

.list_1 :hover {
  transition: 0.5s;
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px rgb(0, 106, 255), 0 0 30px rgb(0, 255, 204);
}

.list_2 :hover {
  transition: 0.5s;
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px rgb(0, 106, 255), 0 0 30px rgb(0, 255, 204);
}

.list_3 :hover {
  transition: 0.5s;
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px rgb(0, 106, 255), 0 0 30px rgb(0, 255, 204);
}
