/*Style title site*/
.title_site {
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: 2em;
  text-decoration: underline rgb(106, 241, 214);
  text-underline-offset: 10px;
}

/*Global Style */
.parent_site {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

/*Container link style*/
.container_link {
  display: flex;
  height: fit-content;
  width: fit-content;
  padding: 1rem 0 0 1rem;
}

/*Link style*/
.link {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  padding: 1.75rem 0 1.75rem 0;
}

/*Logo button style*/
.logo_twitch,
.logo_discord {
  display: flex;
  justify-content: flex-end;
  height: 16em;
  width: 26em;
  border-radius: 15px;
}

/*Titles link style*/
.title_link_2,
.title_link_1 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-underline-offset: 2px;
  padding: 0.5em;
  font-size: 1.75em;
}

/*Button style*/
button {
  border-color: rgb(255, 255, 255);
  border-radius: 15px;
}

/*Container details style*/
.container_details {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/*Div presentation style*/
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1.5rem;
  gap: 1em;
}

/*Titles expliquation style*/
#bonjour,
#title_explication {
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  text-decoration: underline;
  text-underline-offset: 5.5px;
  padding: 0 0 1.75rem 0;
  margin: 1rem 0 0 0;
}

#info_discord {
  color: rgb(255, 255, 255);
}

/*Container expliquations chaine style*/
.explications_chaine {
  display: flex;
  flex-direction: column;
  width: fit-content;
  color: bisque;
  font-size: 1.55rem;
  padding: 1.5rem;
}

/*List style*/
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  gap: 1em;
}

.list_1,
.list_2,
.list_3 {
  display: flex;
  justify-content: center;
  width: fit-content;
  padding: 1rem 0 1rem 0;
}

/*Different logo style*/
.logo_mc {
  display: flex;
  height: 3em;
  width: 15em;
  padding: 5px;
  border-radius: 15px;
}

.logo_apex {
  display: flex;
  height: 5em;
  border-radius: 15px;
  padding: 5px;
}

.live-microphone {
  display: flex;
  height: 5em;
  border-radius: 50%;
}

/*Footer style*/
footer {
  display: flex;
  justify-content: flex-end;
  padding: 1.75rem 0 0.2rem 0;
}

.developped_by {
  display: flex;
  color: rgb(6, 178, 172);
  font-size: 1rem;
  gap: 5px;
}

.developped_by span {
  color: rgb(249, 0, 0);
}
