@media only screen and (min-width: 600px) and (max-width: 1000px) {
  #parent_site {
    background-image: url("background_mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .title_site {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
  }

  .parent_site,
  .container_details {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0.5em;
  }

  .logo_twitch,
  .logo_discord {
    display: flex;
    justify-content: flex-end;
    height: 30em;
    width: 46em;
    border-radius: 15px;
  }

  .title_link_2,
  .title_link_1 {
    display: flex;
    justify-content: center;
    color: rgb(0, 255, 204);
    text-decoration: underline;
    text-underline-offset: 2px;
    padding: 0.5em;
    font-size: 3.25em;
  }

  .container_details {
    display: flex;
    flex-direction: column;
  }

  #bonjour {
    color: rgb(255, 255, 255);
    font-size: 4.2rem;
    text-decoration: underline;
    text-underline-offset: 5.5px;
    padding: 0 0 1.75rem 0;
    margin: 1rem 0 0 0;
  }

  #title_explication {
    color: rgb(255, 255, 255);
    font-size: 4.1rem;
    text-decoration: underline;
    text-underline-offset: 5.5px;
    padding: 0 0 1.75rem 0;
    margin: 1rem 0 0 0;
  }

  .presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    padding: 1.5rem;
    gap: 1em;
  }

  .list {
    gap: 4em;
  }

  .logo_mc {
    display: flex;
    height: 6em;
    width: 24em;
    padding-top: 1em;
    border-radius: 15px;
  }

  .logo_apex {
    display: flex;
    height: 10em;
    border-radius: 15px;
  }

  .live-microphone {
    display: flex;
    height: 10em;
    border-radius: 50%;
  }

  #stats {
    display: flex;
    flex-direction: column;
  }

  .title_stats {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 3px;
    padding: 4rem 0 2rem 2rem;
  }

  .stats_explications {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55em;
    padding: 2.5em;
  }

  .first_child {
    display: flex;
    justify-content: center;
    width: fit-content;
    font-weight: 500;
  }

  .title_config_pc {
    display: flex;
    justify-content: flex-start;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 3px;
    margin: 1rem 0 0 0;
    padding: 1.7rem;
  }

  .listing_composant_pc {
    font-weight: 500;
  }

  #playlist {
    display: flex;
    flex-direction: column;
  }

  .playlist {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .title_playlist {
    display: flex;
    justify-content: flex-start;
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 3px;
    margin: 1rem 0 0 0;
    padding: 1rem 2.5rem 3rem 2rem;
  }

  .link_playlist {
    background: none;
    border: none;
  }

  .img_playlist {
    width: 45rem;
    border-radius: 15px;
  }

  /*Footer style*/
  footer {
    display: flex;
    justify-content: flex-end;
    padding: 1.75rem 0.5rem 0.5rem 0;
  }

  .developped_by {
    display: flex;
    color: rgb(6, 178, 172);
    font-size: 1.5rem;
    gap: 5px;
  }

  .developped_by span {
    color: rgb(249, 0, 0);
  }
}
