/*Reset all and define font*/
* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Mono";
}

/* Disable scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Style Body*/

body {
  display: flex;
  background-size: 100%;
  background-image: url("background_desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none;
}
