* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Mono";
}

#parent_site {
  background-image: url("background_desktop.png");
  background-size: cover;
}

.main {
  display: flex;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

body {
  user-select: none;
}
